@media (prefers-color-scheme: dark) {
	:root {
		--primary-bg-color: #1b1b1b;
		--secondary-bg-color: #3d3d3d;

		--primary-fg-color: #ffffff;
		--secondary-fg-color: #9f9c9c;
		--tertiary-fg-color: #d08cfa;
	}

	a:link {
		color: #d088fc;
	}

	a:visited {
		color: #b375d9;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--primary-bg-color: #ffffff;
		--secondary-bg-color: #cfcfcf;

		--primary-fg-color: #1b1b1b;
		--secondary-fg-color: #9f9c9c;
		--tertiary-fg-color: #77518f;
	}
}

@font-face {
	font-family: "0xProto";
	src: url("/fonts/0xProto/0xProto-Regular.otf");
}

html {
	font-family: "0xProto";
	background: var(--primary-bg-color);
	color: var(--primary-fg-color);
}

p {
	font-family: "Courier New", Courier, monospace;
}
